# Задание 1

In [1307]:
#Изучить представленный набор данных на основе описания его столбцов, 
#загрузить его и оставить 8 столбцов для дальнейшего изучения: 
#surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

import pandas as pd
import numpy as np

#сразу перевод ? в NAN
df = pd.read_csv('horse_data.csv', names = list(range(1,29)),na_values = '?',dtype='float64')
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,2.0,1.0,530101.0,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2.0,11300.0,0.0,0.0,2.0
1,1.0,1.0,534817.0,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2.0,2208.0,0.0,0.0,2.0
2,2.0,1.0,530334.0,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2.0,0.0,0.0,0.0,1.0
3,1.0,9.0,5290409.0,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1.0,2208.0,0.0,0.0,1.0
4,2.0,1.0,530255.0,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2.0,4300.0,0.0,0.0,2.0

In [1308]:
#тест столбцов
df[2].unique()

array([1., 9.])

In [1309]:
#названия столбцов
data = pd.DataFrame(df.loc[:,[1,2,4,5,6,7,11,23]])
data.columns = ['surgery','age','rec_temp','pulse','resp_rate','temp_of_ext','pain','outcome']
data.head()

   surgery  age  rec_temp  pulse  resp_rate  temp_of_ext  pain  outcome
0      2.0  1.0      38.5   66.0       28.0          3.0   5.0      2.0
1      1.0  1.0      39.2   88.0       20.0          NaN   3.0      3.0
2      2.0  1.0      38.3   40.0       24.0          1.0   3.0      1.0
3      1.0  9.0      39.1  164.0       84.0          4.0   2.0      2.0
4      2.0  1.0      37.3  104.0       35.0          NaN   NaN      2.0

In [1310]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   surgery      299 non-null    float64
 1   age          300 non-null    float64
 2   rec_temp     240 non-null    float64
 3   pulse        276 non-null    float64
 4   resp_rate    242 non-null    float64
 5   temp_of_ext  244 non-null    float64
 6   pain         245 non-null    float64
 7   outcome      299 non-null    float64
dtypes: float64(8)
memory usage: 18.9 KB

In [1311]:
#подстановка значений для удобства
data['surgery'].replace([1.0,2.0],['Yes','No'],inplace = True)
data['age'].replace([1.0,2.0],['Adult','Young'],inplace = True) #но в данных вместо 2 стоит 9
data['rec_temp'] = pd.to_numeric(data['rec_temp'])
data = data.astype({'pulse':'float32'})
data = data.astype({'resp_rate':'float32'})
data['temp_of_ext'].replace([1.0,2.0,3.0,4.0],['normal','warm','cool','cold'],inplace = True)
data['pain'].replace([1.0,2.0,3.0,4.0,5.0],
                     ['alert','depresed','inter_mild_pain','inter_severe_pain','cont_severe_pain'],inplace = True)
data['outcome'].replace([1.0,2.0,3.0],['live','died','euthanized'],inplace = True)

In [1312]:
data.sample(10)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
187,Yes,Adult,38.4,80.0,30.0,cold,inter_mild_pain,live
214,No,Adult,38.6,56.0,32.0,warm,alert,live
268,Yes,Adult,38.2,42.0,20.0,NaN,NaN,live
188,Yes,Adult,38.5,60.0,NaN,normal,NaN,live
202,Yes,Adult,37.5,48.0,40.0,NaN,NaN,euthanized
247,Yes,Adult,38.1,88.0,24.0,cool,cont_severe_pain,died
273,Yes,Adult,37.7,120.0,28.0,cool,cont_severe_pain,died
13,No,9.0,38.0,92.0,28.0,normal,alert,died
133,No,Adult,37.9,40.0,24.0,normal,depresed,live
109,Yes,9.0,38.4,84.0,40.0,cool,inter_mild_pain,died

In [1313]:
prev_descr = data.describe(include = 'all')
print(prev_descr)

       surgery    age    rec_temp       pulse   resp_rate temp_of_ext  \
count      299    300  240.000000  276.000000  242.000000         244
unique       2      2         NaN         NaN         NaN           4
top        Yes  Adult         NaN         NaN         NaN        cool
freq       180    276         NaN         NaN         NaN         109
mean       NaN    NaN   38.167917   71.913040   30.417355         NaN
std        NaN    NaN    0.732289   28.630564   17.642225         NaN
min        NaN    NaN   35.400000   30.000000    8.000000         NaN
25%        NaN    NaN   37.800000   48.000000   18.500000         NaN
50%        NaN    NaN   38.200000   64.000000   24.500000         NaN
75%        NaN    NaN   38.500000   88.000000   36.000000         NaN
max        NaN    NaN   40.800000  184.000000   96.000000         NaN

                   pain outcome
count               245     299
unique                5       3
top     inter_mild_pain    live
freq                 67     178
mean                NaN     NaN
std                 NaN     NaN
min                 NaN     NaN
25%                 NaN     NaN
50%                 NaN     NaN
75%                 NaN     NaN
max                 NaN     NaN

# Задание 2

In [1314]:
#Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

data.sample(1)

   surgery  age  rec_temp  pulse  resp_rate temp_of_ext pain outcome
39     Yes  9.0      39.2  146.0       96.0         NaN  NaN    died

In [1315]:
#соотношение прооперированных и нет, с учетом пропусков
data['surgery'].value_counts(normalize = True,dropna = False)

Yes    0.600000
No     0.396667
NaN    0.003333
Name: surgery, dtype: float64

In [1316]:
#соотношение возрастов, с учетом пропусков
data['age'].value_counts(normalize = True, dropna = False)

Adult    0.92
9.0      0.08
Name: age, dtype: float64

In [1317]:
#распределение по уровню температуры конечностей, с учетом пропусков
data['temp_of_ext'].value_counts(normalize = True, dropna = False)

cool      0.363333
normal    0.260000
NaN       0.186667
warm      0.100000
cold      0.090000
Name: temp_of_ext, dtype: float64

In [1318]:
#распределение по уровню боли
data['pain'].value_counts(normalize = True, dropna = False)

inter_mild_pain      0.223333
depresed             0.196667
NaN                  0.183333
cont_severe_pain     0.140000
inter_severe_pain    0.130000
alert                0.126667
Name: pain, dtype: float64

In [1319]:
#распределене по исходу
data['outcome'].value_counts(normalize = True, dropna = False)

live          0.593333
died          0.256667
euthanized    0.146667
NaN           0.003333
Name: outcome, dtype: float64

In [1320]:
data.describe()
#в pain на самом деле категории

         rec_temp       pulse   resp_rate
count  240.000000  276.000000  242.000000
mean    38.167917   71.913040   30.417355
std      0.732289   28.630564   17.642225
min     35.400000   30.000000    8.000000
25%     37.800000   48.000000   18.500000
50%     38.200000   64.000000   24.500000
75%     38.500000   88.000000   36.000000
max     40.800000  184.000000   96.000000

In [1321]:
#в pulse есть подозрения на выбросы сверху
data.sort_values(by='pulse',ascending = False).head(20)
#нет причин считать 184 и другие максимальные значения выбросом

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
255,Yes,9.0,38.8,184.0,84.0,normal,inter_severe_pain,died
3,Yes,9.0,39.1,164.0,84.0,cold,depresed,died
55,Yes,9.0,38.6,160.0,20.0,cool,inter_mild_pain,died
275,Yes,9.0,38.8,150.0,50.0,normal,cont_severe_pain,died
41,No,9.0,39.0,150.0,72.0,NaN,NaN,live
39,Yes,9.0,39.2,146.0,96.0,NaN,NaN,died
103,Yes,9.0,38.0,140.0,68.0,normal,inter_mild_pain,live
44,Yes,Adult,35.4,140.0,24.0,cool,inter_severe_pain,euthanized
135,Yes,9.0,38.1,136.0,48.0,cool,cont_severe_pain,died
148,Yes,Adult,38.3,132.0,NaN,NaN,depresed,live
23,Yes,9.0,38.3,130.0,60.0,NaN,depresed,live
63,No,Adult,38.2,130.0,16.0,cold,depresed,euthanized
172,Yes,Adult,38.5,129.0,48.0,cool,depresed,live
16,Yes,9.0,NaN,128.0,36.0,cool,inter_severe_pain,died
252,Yes,9.0,38.8,124.0,36.0,cool,depresed,died
244,Yes,9.0,38.2,124.0,88.0,normal,depresed,live
185,Yes,Adult,38.5,120.0,60.0,cold,NaN,live
43,Yes,Adult,NaN,120.0,NaN,cool,inter_severe_pain,euthanized
45,No,Adult,NaN,120.0,NaN,cold,cont_severe_pain,died
212,Yes,9.0,38.9,120.0,30.0,normal,inter_mild_pain,live

In [1322]:
#заметно, что высокий пульс у возраста 9,0, скорее всего это Young
data['age'].replace(9.0,'Young',inplace = True)

In [1323]:
#в resp_rate есть подозрения на выбросы сверху
data.sort_values(by='resp_rate',ascending = False).head(20)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
39,Yes,Young,39.2,146.0,96.0,NaN,NaN,died
106,Yes,Adult,38.3,52.0,96.0,NaN,NaN,live
269,Yes,Adult,39.3,64.0,90.0,warm,NaN,live
186,Yes,Adult,39.3,64.0,90.0,warm,NaN,live
244,Yes,Young,38.2,124.0,88.0,normal,depresed,live
3,Yes,Young,39.1,164.0,84.0,cold,depresed,died
255,Yes,Young,38.8,184.0,84.0,normal,inter_severe_pain,died
208,Yes,Adult,37.8,88.0,80.0,cool,NaN,euthanized
82,Yes,Young,38.1,100.0,80.0,cool,inter_mild_pain,live
84,Yes,Adult,37.8,60.0,80.0,normal,depresed,live
41,No,Young,39.0,150.0,72.0,NaN,NaN,live
229,Yes,Young,38.5,120.0,70.0,NaN,NaN,live
295,Yes,Adult,NaN,120.0,70.0,cold,depresed,euthanized
265,No,Adult,NaN,56.0,68.0,cool,inter_mild_pain,euthanized
103,Yes,Young,38.0,140.0,68.0,normal,inter_mild_pain,live
125,Yes,Adult,38.0,42.0,68.0,cold,inter_mild_pain,live
120,Yes,Adult,39.4,54.0,66.0,normal,depresed,live
20,Yes,Adult,39.9,72.0,60.0,normal,cont_severe_pain,live
23,Yes,Young,38.3,130.0,60.0,NaN,depresed,live
248,Yes,Adult,38.0,108.0,60.0,warm,inter_severe_pain,live

In [1324]:
#в resp_rate есть подозрения на выбросы снизу
data.sort_values(by='resp_rate').head(20)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
190,Yes,Adult,37.1,40.0,8.0,NaN,inter_mild_pain,live
203,No,Adult,37.2,36.0,9.0,normal,depresed,live
140,Yes,Adult,38.1,44.0,9.0,cool,depresed,live
162,No,Adult,39.5,60.0,10.0,cool,inter_mild_pain,live
89,No,Adult,38.3,42.0,10.0,normal,alert,live
209,No,Adult,37.5,44.0,10.0,cool,inter_mild_pain,live
69,No,Adult,38.0,48.0,12.0,normal,alert,live
27,Yes,Adult,37.8,48.0,12.0,cool,NaN,live
223,Yes,Adult,37.7,66.0,12.0,normal,inter_mild_pain,live
130,Yes,Adult,37.8,30.0,12.0,NaN,NaN,died
24,Yes,Adult,38.1,60.0,12.0,cool,NaN,live
200,Yes,Adult,37.3,48.0,12.0,normal,inter_mild_pain,live
215,Yes,Adult,37.8,40.0,12.0,normal,alert,live
258,No,Adult,37.5,52.0,12.0,normal,depresed,live
159,No,Adult,NaN,NaN,12.0,normal,depresed,live
42,No,Adult,38.0,60.0,12.0,cool,inter_mild_pain,live
147,No,Adult,38.0,44.0,12.0,warm,inter_mild_pain,died
116,Yes,Adult,38.0,44.0,12.0,normal,inter_mild_pain,live
195,No,Adult,38.0,44.0,12.0,cool,NaN,live
280,Yes,Adult,38.6,48.0,12.0,NaN,alert,live

In [1325]:
#считаю что выбросов нет

# Задание 3

In [1326]:
#Рассчитать количество пропусков для всех выбранных столбцов. 
#Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе 
#рассчитанных статистик и возможной взаимосвязи значений в них.
#Сформировать датафрейм, в котором пропуски будут отсутствовать.

#количество пропусков
data.isna().sum()

surgery         1
age             0
rec_temp       60
pulse          24
resp_rate      58
temp_of_ext    56
pain           55
outcome         1
dtype: int64

In [1327]:
#количество пропусков по строкам
data['nan_count'] = data.apply(lambda x: len(x)-x.count(),axis = 1)
#df[df[columns].notnull().all(axis=1)]
data.sample(10)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
290,No,Adult,38.6,45.0,16.0,warm,alert,live,0
60,No,Adult,37.8,48.0,32.0,normal,depresed,live,0
183,No,Adult,37.8,56.0,16.0,normal,depresed,live,0
39,Yes,Young,39.2,146.0,96.0,NaN,NaN,died,2
99,No,Adult,39.6,108.0,51.0,cool,depresed,live,0
104,Yes,Adult,37.8,52.0,24.0,normal,inter_severe_pain,died,0
159,No,Adult,NaN,NaN,12.0,normal,depresed,live,2
122,No,Adult,38.7,40.0,28.0,warm,inter_mild_pain,live,0
229,Yes,Young,38.5,120.0,70.0,NaN,NaN,live,2
160,Yes,Adult,NaN,NaN,NaN,NaN,inter_severe_pain,live,4

In [1328]:
#строки с максимальным количеством пропусков
data.sort_values(by = 'nan_count',ascending = False).head(30)
#так как во всех строках есть информация о возрасте, операции и исходе, что является важной информацией
#простое удаление строк с пропусками считаю необоснованным

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
216,No,Adult,NaN,NaN,NaN,NaN,NaN,live,5
56,Yes,Adult,NaN,NaN,NaN,NaN,NaN,live,5
227,Yes,Young,NaN,NaN,NaN,NaN,NaN,live,5
175,Yes,Adult,NaN,NaN,NaN,NaN,NaN,live,5
28,Yes,Adult,NaN,NaN,NaN,NaN,NaN,died,5
74,Yes,Young,NaN,NaN,NaN,NaN,NaN,died,5
207,Yes,Adult,NaN,NaN,NaN,NaN,NaN,died,5
288,Yes,Adult,NaN,NaN,NaN,NaN,NaN,live,5
160,Yes,Adult,NaN,NaN,NaN,NaN,inter_severe_pain,live,4
274,Yes,Adult,NaN,76.0,NaN,NaN,NaN,euthanized,4
129,Yes,Adult,38.4,49.0,NaN,NaN,NaN,live,3
152,Yes,Adult,NaN,100.0,NaN,cool,NaN,live,3
174,No,Adult,NaN,NaN,NaN,cool,inter_severe_pain,died,3
72,Yes,Adult,37.7,56.0,NaN,NaN,NaN,died,3
136,Yes,Adult,NaN,NaN,NaN,cool,cont_severe_pain,died,3
52,No,Adult,NaN,NaN,NaN,normal,alert,live,3
78,Yes,Adult,NaN,NaN,NaN,cool,cont_severe_pain,died,3
7,Yes,Adult,NaN,60.0,NaN,cool,NaN,died,3
87,No,Adult,NaN,40.0,16.0,NaN,NaN,euthanized,3
96,No,Adult,NaN,84.0,36.0,NaN,NaN,live,3
93,No,Adult,NaN,NaN,NaN,cool,cont_severe_pain,died,3
5,No,Adult,NaN,NaN,NaN,warm,depresed,live,3
59,No,Adult,NaN,96.0,NaN,cool,cont_severe_pain,died,2
148,Yes,Adult,38.3,132.0,NaN,NaN,depresed,live,2
151,Yes,Adult,39.3,NaN,NaN,cold,inter_severe_pain,died,2
58,Yes,Adult,NaN,NaN,20.0,cold,cont_severe_pain,died,2
68,No,Adult,NaN,52.0,16.0,normal,NaN,live,2
113,Yes,Adult,36.8,60.0,28.0,NaN,NaN,died,2
112,Yes,Adult,NaN,40.0,NaN,warm,alert,live,2
245,No,Adult,NaN,96.0,NaN,cool,cont_severe_pain,died,2

In [1329]:
data.isna().sum()

surgery         1
age             0
rec_temp       60
pulse          24
resp_rate      58
temp_of_ext    56
pain           55
outcome         1
nan_count       0
dtype: int64

### Пропуски surgery

In [1330]:
data['surgery'].value_counts(dropna = False)

Yes    180
No     119
NaN      1
Name: surgery, dtype: int64

In [1331]:
data[data['surgery'].isnull()]

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
132,NaN,Adult,38.0,48.0,20.0,cool,inter_severe_pain,NaN,2

In [1332]:
data.describe()

         rec_temp       pulse   resp_rate   nan_count
count  240.000000  276.000000  242.000000  300.000000
mean    38.167917   71.913040   30.417355    0.850000
std      0.732289   28.630564   17.642225    1.139515
min     35.400000   30.000000    8.000000    0.000000
25%     37.800000   48.000000   18.500000    0.000000
50%     38.200000   64.000000   24.500000    0.000000
75%     38.500000   88.000000   36.000000    1.000000
max     40.800000  184.000000   96.000000    5.000000

In [1333]:
#пропуск также есть в outcome, удаление строки
data = data.loc[~data['surgery'].isnull() ,:]

In [1334]:
data.isna().sum()

surgery         0
age             0
rec_temp       60
pulse          24
resp_rate      58
temp_of_ext    56
pain           55
outcome         0
nan_count       0
dtype: int64

### Пропуски Rec temp

In [1335]:
data['rec_temp'].describe()

count    239.000000
mean      38.168619
std        0.733744
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rec_temp, dtype: float64

In [1336]:
#связь с исходом
data[data['rec_temp'].isnull()]['outcome'].value_counts(normalize = True)
#не влияет

live          0.433333
died          0.400000
euthanized    0.166667
Name: outcome, dtype: float64

In [1337]:
#связь с возрастом
data.groupby('age')['rec_temp'].median()
#не влияет

age
Adult    38.1
Young    38.6
Name: rec_temp, dtype: float64

In [1338]:
#связь с температурой конечностей
#в файле описано, что должна быть зависимость теплых конечностей и повышенной rec_temp
#по факту это не так
data.groupby('temp_of_ext')['rec_temp'].describe()
#не влияет

             count       mean       std   min     25%    50%     75%   max
temp_of_ext
cold          20.0  38.455000  0.626162  37.5  38.000  38.35  39.125  39.4
cool          79.0  38.189873  0.927029  35.4  37.650  38.10  38.600  40.8
normal        72.0  38.126389  0.535235  36.5  37.800  38.15  38.425  39.9
warm          26.0  38.203846  0.621277  36.9  37.825  38.20  38.600  39.3

In [1339]:
#связь с pain
data.groupby('pain')['rec_temp'].median()
#-

pain
alert                38.20
cont_severe_pain     38.00
depresed             38.30
inter_mild_pain      38.15
inter_severe_pain    38.05
Name: rec_temp, dtype: float64

In [1340]:
#связь с операцией
data.groupby('surgery')['rec_temp'].median()

surgery
No     38.2
Yes    38.1
Name: rec_temp, dtype: float64

In [1341]:
#пропуски заполнять медианой без группировки
data['rec_temp'].median()

38.2

In [1342]:
data['rec_temp'].describe()

count    239.000000
mean      38.168619
std        0.733744
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rec_temp, dtype: float64

In [1343]:
data['rec_temp'].fillna(data['rec_temp'].median(), inplace = True)
data['rec_temp'].describe()

count    299.000000
mean      38.174916
std        0.655851
min       35.400000
25%       37.900000
50%       38.200000
75%       38.500000
max       40.800000
Name: rec_temp, dtype: float64

In [1344]:
data.isna().sum()

surgery         0
age             0
rec_temp        0
pulse          24
resp_rate      58
temp_of_ext    56
pain           55
outcome         0
nan_count       0
dtype: int64

### Пропуски Pulse

In [1345]:
data['pulse'].describe()

count    275.000000
mean      72.000000
std       28.646219
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [1346]:
data[data['pulse'].isna()]

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
5,No,Adult,38.2,NaN,NaN,warm,depresed,live,3
28,Yes,Adult,38.2,NaN,NaN,NaN,NaN,died,5
52,No,Adult,38.2,NaN,NaN,normal,alert,live,3
56,Yes,Adult,38.2,NaN,NaN,NaN,NaN,live,5
58,Yes,Adult,38.2,NaN,20.0,cold,cont_severe_pain,died,2
74,Yes,Young,38.2,NaN,NaN,NaN,NaN,died,5
78,Yes,Adult,38.2,NaN,NaN,cool,cont_severe_pain,died,3
83,Yes,Adult,38.0,NaN,24.0,cool,cont_severe_pain,died,1
93,No,Adult,38.2,NaN,NaN,cool,cont_severe_pain,died,3
115,No,Adult,38.2,NaN,40.0,cool,inter_mild_pain,live,2
117,No,Adult,39.5,NaN,NaN,cool,inter_mild_pain,euthanized,2
126,Yes,Adult,38.7,NaN,NaN,cool,cont_severe_pain,live,2
136,Yes,Adult,38.2,NaN,NaN,cool,cont_severe_pain,died,3
151,Yes,Adult,39.3,NaN,NaN,cold,inter_severe_pain,died,2
159,No,Adult,38.2,NaN,12.0,normal,depresed,live,2
160,Yes,Adult,38.2,NaN,NaN,NaN,inter_severe_pain,live,4
174,No,Adult,38.2,NaN,NaN,cool,inter_severe_pain,died,3
175,Yes,Adult,38.2,NaN,NaN,NaN,NaN,live,5
182,Yes,Adult,38.0,NaN,24.0,cool,cont_severe_pain,died,1
204,Yes,Adult,39.2,NaN,23.0,cool,inter_severe_pain,live,1
207,Yes,Adult,38.2,NaN,NaN,NaN,NaN,died,5
216,No,Adult,38.2,NaN,NaN,NaN,NaN,live,5
227,Yes,Young,38.2,NaN,NaN,NaN,NaN,live,5
288,Yes,Adult,38.2,NaN,NaN,NaN,NaN,live,5

In [1347]:
#связь с outcomme
data.groupby('outcome')['pulse'].median()
#медианная тепература с исходом live существенно отличается от остальных исходов
#Пропуски заполняем медианой по группам исхода, тем более столбец исхода без пропусков

outcome
died          86.0
euthanized    82.0
live          54.0
Name: pulse, dtype: float32

In [1348]:
data['pulse'].describe()

count    275.000000
mean      72.000000
std       28.646219
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [1349]:
#fill_median_by_groups['Age'].fillna(titanic.groupby(['Sex', 'Pclass'])['Age'].transform('median'))

data['pulse'].fillna(data.groupby('outcome')['pulse'].transform('median'), inplace = True)

In [1350]:
data['pulse'].describe()

count    299.000000
mean      71.826088
std       27.840683
min       30.000000
25%       48.500000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [1351]:
data.isna().sum()

surgery         0
age             0
rec_temp        0
pulse           0
resp_rate      58
temp_of_ext    56
pain           55
outcome         0
nan_count       0
dtype: int64

### Пропуски Resp_rate

In [1352]:
data['resp_rate'].describe()

count    241.000000
mean      30.460581
std       17.666098
min        8.000000
25%       18.000000
50%       25.000000
75%       36.000000
max       96.000000
Name: resp_rate, dtype: float64

In [1353]:
data[data['resp_rate'].isna()].sample(20)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
188,Yes,Adult,38.5,60.0,NaN,normal,NaN,live,2
126,Yes,Adult,38.7,54.0,NaN,cool,cont_severe_pain,live,2
227,Yes,Young,38.2,54.0,NaN,NaN,NaN,live,5
56,Yes,Adult,38.2,54.0,NaN,NaN,NaN,live,5
271,Yes,Adult,37.7,80.0,NaN,cool,cont_severe_pain,live,1
29,No,Adult,37.7,48.0,NaN,warm,alert,live,1
38,No,Adult,38.6,52.0,NaN,normal,inter_mild_pain,live,1
151,Yes,Adult,39.3,86.0,NaN,cold,inter_severe_pain,died,2
174,No,Adult,38.2,86.0,NaN,cool,inter_severe_pain,died,3
137,Yes,Adult,38.0,48.0,NaN,normal,alert,live,1
134,Yes,Adult,38.2,100.0,NaN,cool,cont_severe_pain,died,2
117,No,Adult,39.5,82.0,NaN,cool,inter_mild_pain,euthanized,2
66,No,Adult,37.9,72.0,NaN,normal,inter_mild_pain,live,1
142,Yes,Adult,38.2,120.0,NaN,cold,cont_severe_pain,died,2
205,No,Adult,38.5,100.0,NaN,cool,inter_severe_pain,euthanized,1
45,No,Adult,38.2,120.0,NaN,cold,cont_severe_pain,died,2
74,Yes,Young,38.2,86.0,NaN,NaN,NaN,died,5
78,Yes,Adult,38.2,86.0,NaN,cool,cont_severe_pain,died,3
59,No,Adult,38.2,96.0,NaN,cool,cont_severe_pain,died,2
43,Yes,Adult,38.2,120.0,NaN,cool,inter_severe_pain,euthanized,2

In [1354]:
#связь с pain
data.groupby('pain')['resp_rate'].median()

pain
alert                20.0
cont_severe_pain     30.0
depresed             32.0
inter_mild_pain      24.0
inter_severe_pain    30.0
Name: resp_rate, dtype: float32

In [1355]:
#связь с rec_temp
data.groupby('temp_of_ext')['resp_rate'].median()

temp_of_ext
cold      30.0
cool      28.0
normal    24.0
warm      32.0
Name: resp_rate, dtype: float32

In [1356]:
#связь с исходом
data.groupby('outcome')['resp_rate'].median()
#-

outcome
died          30.0
euthanized    24.0
live          24.0
Name: resp_rate, dtype: float32

In [1357]:
#связь с возрастом
data.groupby('age')['resp_rate'].median()
#Пропуски заполним медианой по возрасту

age
Adult    24.0
Young    49.0
Name: resp_rate, dtype: float32

In [1358]:
data['resp_rate'].describe()

count    241.000000
mean      30.460581
std       17.666098
min        8.000000
25%       18.000000
50%       25.000000
75%       36.000000
max       96.000000
Name: resp_rate, dtype: float64

In [1359]:
data['resp_rate'].fillna(data.groupby('age')['resp_rate'].transform('median'), inplace = True)

In [1360]:
data['resp_rate'].describe()

count    299.000000
mean      29.541805
std       16.207365
min        8.000000
25%       20.000000
50%       24.000000
75%       36.000000
max       96.000000
Name: resp_rate, dtype: float64

In [1361]:
data.isna().sum()

surgery         0
age             0
rec_temp        0
pulse           0
resp_rate       0
temp_of_ext    56
pain           55
outcome         0
nan_count       0
dtype: int64

### Пропуски Temp_of_ext

In [1362]:
data['temp_of_ext'].value_counts(dropna = False)

cool      108
normal     78
NaN        56
warm       30
cold       27
Name: temp_of_ext, dtype: int64

In [1363]:
#в файле указано что при теплых конечностях должна быть повышена rec_temp
data.groupby('temp_of_ext')['rec_temp'].describe()

             count       mean       std   min     25%   50%   75%   max
temp_of_ext
cold          27.0  38.388889  0.547254  37.5  38.200  38.2  38.6  39.4
cool         108.0  38.192593  0.791509  35.4  37.975  38.2  38.5  40.8
normal        78.0  38.132051  0.514338  36.5  37.800  38.2  38.4  39.9
warm          30.0  38.203333  0.576842  36.9  37.925  38.2  38.6  39.3

In [1364]:
data[data['temp_of_ext'].isna()].sample(20)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
177,Yes,Adult,38.2,68.0,14.0,NaN,inter_severe_pain,died,2
274,Yes,Adult,38.2,76.0,24.0,NaN,NaN,euthanized,4
25,No,Adult,37.8,60.0,42.0,NaN,NaN,live,2
160,Yes,Adult,38.2,54.0,24.0,NaN,inter_severe_pain,live,4
280,Yes,Adult,38.6,48.0,12.0,NaN,alert,live,1
113,Yes,Adult,36.8,60.0,28.0,NaN,NaN,died,2
216,No,Adult,38.2,54.0,24.0,NaN,NaN,live,5
23,Yes,Young,38.3,130.0,60.0,NaN,depresed,live,1
165,Yes,Adult,39.4,120.0,48.0,NaN,NaN,euthanized,2
129,Yes,Adult,38.4,49.0,24.0,NaN,NaN,live,3
175,Yes,Adult,38.2,54.0,24.0,NaN,NaN,live,5
161,Yes,Adult,38.3,42.0,24.0,NaN,NaN,died,2
190,Yes,Adult,37.1,40.0,8.0,NaN,inter_mild_pain,live,1
141,No,Adult,36.0,42.0,30.0,NaN,NaN,died,2
169,Yes,Adult,38.2,65.0,24.0,NaN,cont_severe_pain,euthanized,2
56,Yes,Adult,38.2,54.0,24.0,NaN,NaN,live,5
239,Yes,Adult,38.1,70.0,22.0,NaN,cont_severe_pain,euthanized,1
299,Yes,Adult,37.2,40.0,20.0,NaN,NaN,euthanized,2
39,Yes,Young,39.2,146.0,96.0,NaN,NaN,died,2
121,Yes,Adult,38.3,80.0,40.0,NaN,inter_severe_pain,euthanized,1

In [1365]:
#связь с outcome
data.groupby('outcome')['temp_of_ext'].value_counts()
#заполняем по исходу - если жи

outcome     temp_of_ext
died        cool           41
            normal         11
            cold            9
            warm            3
euthanized  cool           21
            cold            7
            normal          4
            warm            1
live        normal         63
            cool           46
            warm           26
            cold           11
Name: temp_of_ext, dtype: int64

In [1366]:
#связь с pain
data.groupby('temp_of_ext')['pain'].value_counts()

temp_of_ext  pain
cold         depresed              9
             cont_severe_pain      6
             inter_mild_pain       4
             inter_severe_pain     4
cool         cont_severe_pain     26
             depresed             24
             inter_mild_pain      23
             inter_severe_pain    19
             alert                 7
normal       inter_mild_pain      26
             alert                18
             depresed             16
             inter_severe_pain     7
             cont_severe_pain      6
warm         alert                11
             inter_mild_pain       9
             depresed              4
             inter_severe_pain     3
             cont_severe_pain      1
Name: pain, dtype: int64

In [1367]:
#вилимой связи нет, величина категориальная - заполнение категорией 'no_data'
data['temp_of_ext'].fillna('no_data', inplace = True)

In [1368]:
data['temp_of_ext'].value_counts()

cool       108
normal      78
no_data     56
warm        30
cold        27
Name: temp_of_ext, dtype: int64

In [1369]:
data.isna().sum()

surgery         0
age             0
rec_temp        0
pulse           0
resp_rate       0
temp_of_ext     0
pain           55
outcome         0
nan_count       0
dtype: int64

### Пропуски Pain

In [1370]:
data['pain'].value_counts(dropna = False)

inter_mild_pain      67
depresed             59
NaN                  55
cont_severe_pain     42
inter_severe_pain    38
alert                38
Name: pain, dtype: int64

In [1371]:
data.groupby('pain')['pulse'].describe()

                   count       mean        std   min   25%   50%    75%    max
pain
alert               38.0  50.184212   9.311008  40.0  46.5  48.0   53.5   92.0
cont_severe_pain    42.0  86.166664  22.961172  36.0  70.5  87.0   96.0  150.0
depresed            59.0  79.949150  30.682144  36.0  54.0  72.0  104.0  164.0
inter_mild_pain     67.0  64.000000  23.613041  38.0  48.0  60.0   74.0  160.0
inter_severe_pain   38.0  82.236839  29.327080  36.0  61.0  80.0   99.5  184.0

In [1372]:
#связь с операцией
data.groupby('surgery')['pain'].value_counts()

surgery  pain
No       alert                29
         inter_mild_pain      28
         depresed             25
         inter_severe_pain    10
         cont_severe_pain      9
Yes      inter_mild_pain      39
         depresed             34
         cont_severe_pain     33
         inter_severe_pain    28
         alert                 9
Name: pain, dtype: int64

In [1373]:
#связь с исходом
data.groupby('outcome')['pain'].value_counts()
#что то есть, для died - чаще 5.0, для эвтаназии - 2.0 и 4.0, для живых - 3.0
#использовать не имеет смысле

outcome     pain
died        cont_severe_pain     24
            inter_severe_pain    17
            depresed             14
            inter_mild_pain       8
            alert                 2
euthanized  depresed             12
            inter_severe_pain    11
            cont_severe_pain      6
            inter_mild_pain       5
            alert                 1
live        inter_mild_pain      54
            alert                35
            depresed             33
            cont_severe_pain     12
            inter_severe_pain    10
Name: pain, dtype: int64

In [1374]:
#явной зависимости с другими нет
#в файле указано что эта характеристка субъективна
#заполнене пропусков аналогично temp_of_ext - новой категорией 'no_data'

data['pain'].fillna('no_data', inplace = True)

In [1375]:
data.describe()

         rec_temp       pulse   resp_rate   nan_count
count  299.000000  299.000000  299.000000  299.000000
mean    38.174916   71.826088   29.541805    0.846154
std      0.655851   27.840683   16.207365    1.139473
min     35.400000   30.000000    8.000000    0.000000
25%     37.900000   48.500000   20.000000    0.000000
50%     38.200000   64.000000   24.000000    0.000000
75%     38.500000   88.000000   36.000000    1.000000
max     40.800000  184.000000   96.000000    5.000000

In [1376]:
data.sample(20)

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
234,No,Adult,37.5,48.0,30.0,cold,no_data,live,1
182,Yes,Adult,38.0,86.0,24.0,cool,cont_severe_pain,died,1
286,No,Adult,37.8,82.0,12.0,cool,inter_severe_pain,euthanized,0
32,Yes,Adult,37.2,60.0,24.0,warm,inter_mild_pain,live,1
74,Yes,Young,38.2,86.0,49.0,no_data,no_data,died,5
149,No,Adult,38.7,48.0,24.0,no_data,alert,live,1
100,Yes,Adult,38.2,40.0,16.0,cool,alert,live,0
203,No,Adult,37.2,36.0,9.0,normal,depresed,live,0
63,No,Adult,38.2,130.0,16.0,cold,depresed,euthanized,0
199,No,Adult,38.5,60.0,40.0,cool,depresed,live,0
26,Yes,Adult,38.3,72.0,30.0,cold,inter_mild_pain,live,0
52,No,Adult,38.2,54.0,24.0,normal,alert,live,3
40,Yes,Adult,38.2,88.0,24.0,cool,cont_severe_pain,died,2
178,Yes,Adult,38.2,60.0,30.0,cool,cont_severe_pain,live,1
45,No,Adult,38.2,120.0,24.0,cold,cont_severe_pain,died,2
51,Yes,Adult,37.4,84.0,36.0,normal,inter_mild_pain,died,0
259,Yes,Adult,40.8,72.0,42.0,cool,depresed,died,0
221,Yes,Adult,38.5,92.0,40.0,cold,depresed,live,0
287,No,Young,39.5,84.0,30.0,no_data,no_data,live,2
103,Yes,Young,38.0,140.0,68.0,normal,inter_mild_pain,live,0

In [1377]:
prev_descr

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome
count,299,300,240.000000,276.000000,242.000000,244,245,299
unique,2,2,NaN,NaN,NaN,4,5,3
top,Yes,Adult,NaN,NaN,NaN,cool,inter_mild_pain,live
freq,180,276,NaN,NaN,NaN,109,67,178
mean,NaN,NaN,38.167917,71.913040,30.417355,NaN,NaN,NaN
std,NaN,NaN,0.732289,28.630564,17.642225,NaN,NaN,NaN
min,NaN,NaN,35.400000,30.000000,8.000000,NaN,NaN,NaN
25%,NaN,NaN,37.800000,48.000000,18.500000,NaN,NaN,NaN
50%,NaN,NaN,38.200000,64.000000,24.500000,NaN,NaN,NaN
75%,NaN,NaN,38.500000,88.000000,36.000000,NaN,NaN,NaN
max,NaN,NaN,40.800000,184.000000,96.000000,NaN,NaN,NaN

In [1378]:
data.describe(include = 'all')

,surgery,age,rec_temp,pulse,resp_rate,temp_of_ext,pain,outcome,nan_count
count,299,299,299.000000,299.000000,299.000000,299,299,299,299.000000
unique,2,2,NaN,NaN,NaN,5,6,3,NaN
top,Yes,Adult,NaN,NaN,NaN,cool,inter_mild_pain,live,NaN
freq,180,275,NaN,NaN,NaN,108,67,178,NaN
mean,NaN,NaN,38.174916,71.826088,29.541805,NaN,NaN,NaN,0.846154
std,NaN,NaN,0.655851,27.840683,16.207365,NaN,NaN,NaN,1.139473
min,NaN,NaN,35.400000,30.000000,8.000000,NaN,NaN,NaN,0.000000
25%,NaN,NaN,37.900000,48.500000,20.000000,NaN,NaN,NaN,0.000000
50%,NaN,NaN,38.200000,64.000000,24.000000,NaN,NaN,NaN,0.000000
75%,NaN,NaN,38.500000,88.000000,36.000000,NaN,NaN,NaN,1.000000
max,NaN,NaN,40.800000,184.000000,96.000000,NaN,NaN,NaN,5.000000